## PID Properties ##
catalogue:
  resources:
    organisation:
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/organisation/privkey.pem
          client-cert: /rc/config/pid_certs/organisation/cert.pem
    service:
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/service/privkey.pem
          client-cert: /rc/config/pid_certs/service/cert.pem
    datasource:
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/datasource/privkey.pem
          client-cert: /rc/config/pid_certs/datasource/cert.pem
    catalogue:
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/catalogue/privkey.pem
          client-cert: /rc/config/pid_certs/catalogue/cert.pem
    training-resource:
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/training-resource/privkey.pem
          client-cert: /rc/config/pid_certs/training-resource/cert.pem
    interoperability-record:
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/interoperability-record/privkey.pem
          client-cert: /rc/config/pid_certs/interoperability-record/cert.pem
    adapter:
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/adapter/privkey.pem
          client-cert: /rc/config/pid_certs/adapter/cert.pem
    deployable-application:
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/deployable-application/privkey.pem
          client-cert: /rc/config/pid_certs/deployable-application/cert.pem
