## PID Properties ##
catalogue:
  type-api:
    url: https://typeapi.pidconsortium.net
  resources:
    organisation:
      fdo:
        profile: 21.T11969/a9f1d8fa88366d1f49cb
        data: self
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/organisation/privkey.pem
          client-cert: /rc/config/pid_certs/organisation/cert.pem
    service:
      fdo:
        type: type
        profile: 21.T11969/3bffc374f55052af4e91
        data: self
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/service/privkey.pem
          client-cert: /rc/config/pid_certs/service/cert.pem
    datasource:
      fdo:
        type: type
        profile: 21.T11969/3bffc374f55052af4e91
        data: self
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/datasource/privkey.pem
          client-cert: /rc/config/pid_certs/datasource/cert.pem
    catalogue:
      fdo:
        type: type
        profile: 21.T11969/3bffc374f55052af4e91
        data: self
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/catalogue/privkey.pem
          client-cert: /rc/config/pid_certs/catalogue/cert.pem
    training-resource:
      fdo:
        type: type
        profile: 21.T11969/3bffc374f55052af4e91
        data: self
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/training-resource/privkey.pem
          client-cert: /rc/config/pid_certs/training-resource/cert.pem
    interoperability-record:
      fdo:
        type: type
        profile: 21.T11969/3bffc374f55052af4e91
        data: self
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/interoperability-record/privkey.pem
          client-cert: /rc/config/pid_certs/interoperability-record/cert.pem
    adapter:
      fdo:
        type: type
        profile: 21.T11969/3bffc374f55052af4e91
        data: self
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/adapter/privkey.pem
          client-cert: /rc/config/pid_certs/adapter/cert.pem
    deployable-application:
      fdo:
        type: type
        profile: 21.T11969/3bffc374f55052af4e91
        data: self
      resolve-endpoints:
      pid-issuer:
        url: https://api.pids.example.eu:8000/api/handles
        user:
        user-index:
        password:
        auth:
          self-signed-cert: false
          client-key: /rc/config/pid_certs/deployable-application/privkey.pem
          client-cert: /rc/config/pid_certs/deployable-application/cert.pem
